<div id="sidebar" class="span3">
	<%= render :partial=>'mods_tree'%>
</div>


<div id="content" class="span9">
  <h2 class="hide-text top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

  <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

	<h3>Select a collection</h3>
	<h4><%= @facet_field.name %></h4>

	<table id="facetTable">
	  <thead>
	    <tr>
	      <th>Value</th>
	      <th>Count</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%- @facet_field.items.each do |ff| -%>
	      <tr class="<%= cycle("odd", "even") %>">
	        <td>
	          <%= link_to(ff.value, catalog_index_path({:f=>{:collection=>[ff.value]}})) %>
	        </td>
	        <td><%= ff.hits %></td>
	      </tr>
	    <%- end -%>
	  </tbody>

	</table>
	<script type="text/javascript">
	  $("#facetTable").dataTable();
	  $("#facetTable_wrapper input").focus();
	</script>

</div>